#area-principal {
    width: 1080px;
    margin: 55px auto 10px auto;
}

#movie {
    background-color: #ebebeb;
    padding: 20px 0 20px 20px;
    margin-bottom: 10px;
    height: 560px;
}

.azul-marinho {
    font-size: 25px;
}

.img-movie {
    float: right;
    margin-top: 35px;
    width: 30%;
}

.subtitle {
    margin-top: 35px;
    width: 68%;
}

p {
    margin-top: 1em;
    text-align: justify;
    width: 68%;
}

.data-movie {
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

table {
    width: 68%;
}

th,
td {
    text-align: center;
}

.element-voto {
    float: right;
    margin: 3%;
}

.btn {
    display: table;
    text-align: center;
    text-decoration: none;
    letter-spacing: .02;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 2em;
    border: .15em solid #116193;
    margin-bottom: 1em;
    transition: .2s all ease-in-out;
}

.btn-small {
    font-size: .8em;
    padding: 1em 1.8em;
}

@media only screen and (max-width:320px) {
    body {
        font-size: 12px;
    }
}

[class*='col-'] {
    float: left;
    margin-top: 2%;
}

[class*='col-']:last-of-type {
    margin-right: 2%;
}