<section id="area-principal">
    <article id="movie">
        <h1 class="azul-marinho">{{ movie.title }}</h1>
        <span class="data">{{ movie.release_date | date:"dd/MM/yy" }}</span>
        <img class="img-movie" [src]="movie | movieImage" [alt]="movie.original_title">
        <h2 class="subtitle azul-marinho">Sinopse</h2>
        <p>{{ movie.overview }}</p>
        <h2 class="subtitle azul-marinho">Informações</h2>
        <table>
            <tr class="subtitulo azul-marinho">
                <th>Situação</th>
                <th>Idioma</th>
                <th>Duração</th>
                <th>Orçamento</th>
                <th>Receita</th>
                <th>Lucro</th>
            </tr>
            <tr>
                <td>{{ movie.status }}</td>
                <div>
                    <td>nome</td>
                </div>
                <td>{{ movie.runtime | time }}</td>
                <td>{{ movie.budget | currency }}</td>
                <td>{{ movie.revenue | currency }} </td>
                <td>{{ (movie.revenue - movei.budget) | currency }}</td>
            </tr>
        </table>
        <ul>
            <li class="btn btn-small azul-marinho col-1-4"> genero.name </li>
        </ul>
    </article>
    <app-youtube [videos]="video"></app-youtube>

</section>