<app-loading *ngIf="loading"></app-loading>

<div class="container">
    <div (click)="showMovie( movie )" *ngFor="let movie of itens" class="row flex-column-reverse flex-md-row p-2 pointer">
        <div class="col-md-3  px-md-n4">
            <div class="card">
                <img class="card-img" [src]="movie | movieImage" alt="Card image">
            </div>
        </div>
        <div class="col-md-9 ">
            <div class="card">
                <div class="card-title">
                    <h2 class="text-filme">{{ movie.title }}</h2>
                </div>
                <div class="card-body">
                    <div class="mb-1 text-muted" id="date">{{ movie.release_date | date:"dd/MM/yy" }}</div>
                    <p>{{ movie.overview }}</p>
                    <span class="ratings">
                  <p>{{ (movie.vote_average / 10) | percent }}</p>
                </span>
                    <div class="row">
                    </div>
                    <app-btn-genre [genero]="movie.genre_ids" [lista]="listgenres"></app-btn-genre>

                </div>
            </div>
        </div>
    </div>


</div>