<object width="100%" height="600" *ngFor="let video of videos">
  <param name="video.name" value="http://www.youtube.com/v/video.key" />
  <embed src="http://www.youtube.com/v/video.key" type="application/x-shockwave-flash" width="100%" height="600"/>
</object>