.card-title {
    background: #106292;
    padding-top: 1.25rem;
    padding-left: 5.25rem;
    padding-bottom: 0.625rem;
    margin-bottom: -.75rem;
}

.text-filme {
    color: #00e8e4;
}

.card-body {
    background: #ebebeb;
    height: 19.4rem;
}

.ratings {
    background-color: #106292;
    border: 3px solid #00e8e4;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #00e8e4;
    text-align: center;
    font-size: 20px;
    line-height: 1.42857;
    padding-top: 13px;
    box-shadow: 0 0 0 3px #106292;
}

#date {
    position: relative;
    top: -20px;
    left: 70px;
}

.btn {
    margin-top: 50px;
    border-radius: 20px;
    margin-right: 10px;
}

.navbar {
    background: #106292;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.pointer {
    cursor: pointer;
}