<div class="row">
    <div class="container">
        <div class="form-group">
            <input #text type="text" class="form-control" (keyup)="search(text.value)" placeholder="Busque um filme por nome, ano ou gênero...">
        </div>
    </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<app-movies *ngIf="!loading" [itens]="movies"></app-movies>