<div *ngFor="let listgenero of lista" class="col">
    <ul *ngFor="let genero of genero" class="d-flex justify-content-start">
        <li class="btn btn-outline-primary bg-white" *ngIf="listgenero.id == genero">{{ listgenero.name }}</li>
    </ul>
</div>